The game must follow the rules of chess:
    - Player picks a side
    - White moves first
    - Pieces must behave as they would in chess
    - Game must end: Checkmate/Stalemate/Resignation/50 moves without capture

The game should support a player and a bot:
    - Player can either click and drag or enter chess notation
    - Player can promote a pawn
    - Player cannot withdraw a move
    - Player can resign
    - Bot will run Stockfish

The game must display things to a game window:
    - Board, Coordinates and Pieces
    - Last move, Selected piece and legal moves
    - Move history, Error messages and Winner/Loser/tie